@(title: String, showSubHead: Boolean = false)(content: Html)
<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <title>@title</title>
          
         <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
         <meta name="description" content="" />
         <meta name="keywords" content="" />
    
         <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    
         <link href="@routes.Assets.at("bootplus/css/bootplus.min.css")" rel="stylesheet">
         <link href="@routes.Assets.at("bootplus/css/bootplus-responsive.min.css")" rel="stylesheet">
    
         <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
    
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
         <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">

	    <!-- Navbar ================================================== -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">Scala.net.pl</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="/">Home</a></li>
							<li class=""><a href="@controllers.routes.Application.secureTest.url">Only members example</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

        @(if(showSubHead){
		<!-- Subhead
		================================================== -->
		<header class="jumbotron subhead masthead" id="overview">
			<div class="container">
				<h1>Scala.net.pl</h1>
				<p class="lead">Polish Scala Community</p>
			</div>
		</header>
        })
		
		<!-- Content
		================================================== -->
		<div class="container">
			<div class="row">
        	@content
        	</div>
        </div>

		<!-- Footer
	    ================================================== -->
		<footer class="footer">
			<div class="container">
				<p>Copyright &copy; scala.net.pl 2013</p>
			</div>
		</footer>
		
		<!-- Javascripts
		================================================== -->
		<script src="@routes.Assets.at("bootplus/js/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
